 
@import "common.scss";

.articulo{
    padding:0px;
    background-color: transparent;
    border:transparent;
}
.fila{
    margin:0px;
}
.producto_img{
    height: 200px;
}
.producto_titulo{
    color:$colorNaranjaBase;
    font-family: TimesNewYorker;
    font-size:1.2em;
}
.producto_descripcion{
    font-size: 0.75em;
}
.producto_precio{
    font-family: PlaneCrash;
    font-size: 1.7em;
    color: $colorNaranjaBase;
    text-align: center;
}
.producto_boton{
    text-align:center;
}