 
@import "common.scss";

.articulo{
    padding:0px 45px;
    background-color: transparent;
    border:transparent;
}
.fila{
    margin:0px;
}
.contenedorImgArticulo{
    text-align: center;
    height: 250px;
    padding-top: 30px;
    margin-bottom: 20px;
    & .producto_img{
        max-height: 100%;
        max-width: 100%;
    }
}
.producto_titulo{
    color:$colorNaranjaBase;
    font-family: TimesNewYorker;
    font-size:1.2em;
}
.producto_descripcion{
    font-size: 0.75em;
    color: silver;
}
.producto_precio{
    font-family: PlaneCrash;
    font-size: 1.7em;
    color: $colorNaranjaBase;
    text-align: right;
}
.producto_boton{
    text-align:center;
}