@mixin sombraPerimetral($size,$difuminacion,$color,$estilo){
    @if $estilo == inset{
        box-shadow: 0 ((-1)*$size) $difuminacion $color $estilo,
            $size 0 $difuminacion $color $estilo,
            0 $size $difuminacion $color $estilo,
            ((-1)*$size) 0 $difuminacion $color $estilo;
    } @else if $estilo == none{
        box-shadow: 0 ((-1)*$size) $difuminacion $color,
            $size 0 $difuminacion $color,
            0 $size $difuminacion $color,
            ((-1)*$size) 0 $difuminacion $color;
    }
}
@mixin reglasBarrasScroll(){
    // REGLAS PARA LAS BARRAS DE DESPLAZAMIENTO
    ::-webkit-scrollbar-thumb{
        background-color: $colorNaranjaBase;
    }
    ::-webkit-scrollbar-track{
        background-color: rgba($colorNaranjaSuave,.4);
    }
    ::-webkit-scrollbar{
        width: 8px;
        height: 8px;
    }
}