@import "common.scss";

@media all and (max-width:800px){

    body{

        #capaSuperior{
            width:90%;
            
            #header{
                #cabeceraContenidos{
                    #cabeceraLogo{
                        img{
                            width:97px;
                            
                        }
                    }
                }

            }

            #menuH{

                #plataformas{
                    .menuH_plataforma{
                        font-size:0.9em;
                        
                    }
                    #icono_menu_desplegable{
                        display:inline-block;
                        
                    }
                }
            }
            .menu_desplegable{ 
                
                background-color: rgba($colorGrisBase,0.85);

                .menu_desplegable_seccion{
                    background-color: rgba($colorGrisBase,.75);
                    color:white;
                    font-family: calibri;
                }

                .menu_desplegable_seccion:hover{    
                    background-color:$colorNaranjaSuave;
                    transition-duration: 0.5s;

                }

            }

            #seccionCentral{
                #contenidos{
                    width:100%;
                    #articulos{
                        .articulos_noticia{
                            width:95%;
                            float:left;
                        }
                    }    
                }
                #menuV{
                    display:none;
                }
            }


        }

    }

}

