
@import "common.scss";

//Fuentes

@font-face {
    font-family: Farcry;
    src: url('../fonts/Farcry.ttf');
}
@font-face {
    font-family: TimesNewYorker;
    src: url('../fonts/TimesNewYorker.ttf');
}

//ARBOL

body{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;

    background-image: url('../img/fondos/imgFondo.jpg');
    background-size:100%;

    font-family: Calibri;
    
    // REGLAS PARA LAS BARRAS DE DESPLAZAMIENTO
    ::-webkit-scrollbar-thumb{
        background-color: $colorNaranjaBase;
        //border-radius: 10px;
        //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
    }
    ::-webkit-scrollbar-track{
        background-color: rgba($colorNaranjaSuave,.4);
    }
    ::-webkit-scrollbar{
        width: 8px;
        height: 8px;
    }

    #capaSuperior{
        width: 70%;
        height: 100%;
        margin: 0 auto;

        #header{
            height: 14%;

            #limitSup{
                height: 40%;
            }

            #cabeceraContenidos{
                height: 60%;
                background-color: rgba($colorNaranjaBase,.80);
                border-radius:10px 10px 0px 0px;
                box-shadow: 0 -10px 30px rgba(0,0,0,.4), -10px 0 30px rgba(0,0,0,.4), 10px 0 30px rgba(0,0,0,.4);

                #cabeceraLogo{
                    width: 25%;
                    height: 100%;
                    float: left;

                    #logoImg{
                        margin-left: 30px;
                        width: 195px;
                        margin-top: -40px;
                    }


                }
                #cabeceraCentro{
                    width:50%;
                    height:100%;
                    float:left;
                }
                #cabeceraLogin{
                    width: 25%;
                    text-align: left;
                    height: 100%;
                    float: left;
                    .boton{
                        box-shadow: 2px 2px 4px 1px black;
                        width: 40%;
                        margin: 4% auto;
                        text-align: center;
                        font-size: 0.7em;
                        font-style: italic;
                        background-color: rgba(white,.70);
                    }

                }
            }
        }
        #menuH{
            height: 3.5%;
            box-shadow: 0 -10px 20px rgba(0,0,0,.5);
            //background-color: rgba(0,0,0,.85);
            //margin-top:2px;

            #plataformas{
                width: 80%;
                height: 100%;
                float: left;

                .menuH_plataforma{
                    width:15%;
                    height: 100%;
                    float:left;
                    text-align: center;
                    padding-top:7px;

                    color:white;
                    font-weight: bold;
                    font-family: Farcry;
                    font-size:1em;

                    img{
                        height: 100%;
                    }


                }

                .menuH_plataforma:hover{
                    cursor:pointer;
                    background-color:$colorNaranjaSuave;
                    transition-duration: 0.5s;
                }

                #icono_menu_desplegable{
                    display:none;
                    background-color:transparent;
                }

                #menuH_desplegable{
                    display:none;
                }
            }

            #buscar{
                padding: 1px;
                width: 16%;
                height: 100%;
                float: left;

                #buscador{
                    width:100%
                }
                @import 'search.scss';
            }
            #carrito{
                padding: 1px;
                text-align: center;             
                width: 4%;
                height: 100%;
                float: left;

                #botonCarrito{
                    height: 100%;
                    //background-color: rgba($colorNaranjaSuave,1);
                    & span{
                        width: 95%;
                    }
                }
            }

        }

        #seccionCentral{
            height: 68%;
            margin-top: 1px;
            padding: 5px;
            background-color: rgba(0,0,0,.75);

            .menuV{
                height: 100%;
                float: left;
                width: 13%;
                padding: 5px 10px;

                .menuV_seccion, .menuV_grupo{
                    margin: 0px 2px 2px 0px;
                    padding-left: 4px;

                    font-family: Calibri;
                    font-size:1em;
                    font-weight: bold;
                    color:white;

                }
                .menuV_grupo{
                    background-color: rgba($colorGrisSeccion,.55);
                    border-radius: 4px;
                    box-shadow: 2px 2px 5px rgba(0,0,0,.7);
                    padding: 5px 0 0 5px;
                    margin-bottom: 2px;
                }
                .menuV_seccion{
                    color: silver;
                    background-color: rgba($colorGrisBase,.2);
                    border-bottom-right-radius: 4px;
                    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
                    padding-left: 10px;
                }
                .menuV_seccion:hover{
                    color: white;
                    cursor:pointer;
                    background-color:$colorNaranjaSuave;
                    transition-duration: 0.5s;

                }

            }
            #contenidos{
                height: 100%;
                float: left;
                width: 87%;
                overflow: auto;
                #articulos{
                    width: 99%;
                    padding: 1%;
                    margin: 0 .5%;
                    float: left;
                    //background-color: rgba(white,.80);
                    margin-right: 0.5%;

                    @import 'noticias.scss';
                    @import "articulos.scss";
                    @import "ranking.scss";
                }
            }
        }
        #pie{
            height: 12%;
            margin-top:5px;

            #pieContenidos{
                height: 90%;
                //background-color: rgba(0,0,0,.5);
                background-color: rgba($colorGrisBase,.80);
                border-radius:0px 0px 10px 10px;

                #enlaces{
                    width: 80%;
                    height: 70%;
                    float: left;
                }
                #otros{
                    width: 20%;
                    height: 70%;
                    float: left;
                    #redesSociales{
                        height: 50%;
                        text-align:center;
                        img{
                            height: 90%;
                            margin-top: 2%;
                        }
                    }
                    #otraInfo{
                        height: 50%;
                        text-align:center;
                        img{
                            height: 90%;
                            margin-top: 2%;
                        }
                    }
                }
                #infoContacto{
                    height: 30%;
                    clear: both;
                    font-size:0.73em;
                    text-align: center;
                }
                #infoContactoReducido{
                    display:none;
                }
            }
            #limitInf{
                height: 20%;

            }
        }
    }

    #capaFondo{
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        #franjaSuperior{
            width: 100%;
            height: 14%;
            background-color: rgba(0,0,0,.6);
        }
        #franjaBajoMenuH{
            //position: relative;
            //margin-top:2px;
            //top: 14%;
            width: 100%;
            height: 3.5%;
            background-color: rgba(0,0,0,.85);
            box-shadow: 0 -10px 20px rgba(0,0,0,.4);
        }
    }

}

@import "Responsive-sm.scss";
@import "Responsive-xs.scss";

